allure-pytest==2.16.0
allure-python-commons==2.16.0
attrs==26.1.0
defusedxml==0.7.1
iniconfig==2.3.0
numpy==2.4.4
odfpy==1.4.1
packaging==26.2
pandas==3.0.2
pluggy==1.6.0
Pygments==2.20.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.18.0
PyQt6-Qt6==6.11.0
PyQt6_sip==13.11.1
pytest==9.0.3
pytest-qt==4.5.0
python-dateutil==2.9.0.post0
six==1.17.0
typing_extensions==4.15.0
